JMD_NODE_ENV="development"
JMD_VERSION="1_0_0"
JMD_SERVER_PORT=5555
JMD_SERVER_URL="0.0.0.0"
JMD_SEED="my_seed"
JMD_EXPIRATION_TOKEN="12H"
JMD_EXPIRATION_TOKEN_RECOVERY="1H"
JMD_SERVICE_NAME="my-service"
JMD_MAILER_HOST="smtp.gmail.com"
JMD_MAILER_PORT=587
JMD_MAILER_USER="my.email@gmail.com"
JMD_MAILER_PASSWORD="my_password"
JMD_BD_HOST="127.0.0.1"
JMD_BD_USER="root"
JMD_BD_PASSWORD="my-service-pwd"
